.arrow {
	margin-left: 0px !important;
}

#wpfooter {
	display: none;
}

#wpbody-content {
    position: fixed;
    height: 90%;
    width: 85%;
}
.code-html {
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
}
#editSection {
	box-sizing: border-box;
	height: 90% !important;
	/* to show submit buttom*/
	width: 100%;
}
